@import '../../styles/variable';

.app-container {
  display: block;
  margin-top: $spacer * 3;
  border-top: solid 1px $container-border-color;
  border-bottom: solid 1px $container-border-color;
  background: $white;

  @include desktop {
    width: 100%;
  }

  @include tablet {
    margin: 0.5rem * 3 auto 0;
    border-right: $container-border-color;
    border-left: $container-border-color;
    width: calc(100% - 2rem);
    max-width: 70rem;
  }
}

.container-content {
  padding: 2rem 2rem;
  box-shadow: 2px 4px 9px 5px $container-box-color;
}
