@import '../../../../styles/mixins';

.multiple-address-content {
  .postcode-content {
    display: flex;

    .title-postcode {
      margin-right: 3rem;
    }

    .change-btn {
      margin-top: 0.8rem;
    }
  }

  .primary {
    @include desktop {
      width: 100px;
    }

    @include tablet {
      width: 100px;
    }
  }
}
