.modal-content {
  box-shadow: 2px 4px 9px 5px #898989;
}

.modal-header {
  background: #7fbb9e;
  color: #015c31;
  height: 50px;
}

.modal-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-close {
  width: 20px;
  height: 10px;

  padding: 0rem 0.5rem !important;
}
