@import '../../../../styles/mixins';

.find-address-content {
  .enter-postcode {
    display: flex;
    justify-content: left;

    @include phone-only {
      display: block;

      input {
        margin-bottom: 1rem;
        width: 100%;
      }

      button {
        width: 100%;
      }
    }
  }

  .form-control {
    width: 50%;
    margin-right: 2rem;
  }

  .primary {
    width: 40%;
  }

  .btn-green-link {
    width: auto;
  }
}
