@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

@import '../node_modules/bootstrap/scss/bootstrap';

.app-header {
  display: flex;
  justify-content: center;

  font-size: 2rem;
  font-weight: bold;
}

.main-container {
  margin: 1rem 0;
}
